@model GradebookOnlineApp.Models.TeacherModels.TeacherProfile
@{
    ViewBag.Title = "EditProject";
    Layout = "~/Views/Teacher/TeaLayout.cshtml";
}

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Asap:400,400i,500,500i,600,600i,700,700i|Comfortaa:300,400,500,600,700|Rajdhani:300,400,500,600,700&display=swap" rel="stylesheet">
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <div class="container" style="width: 100%;">
        <div class="row-full">
            <div class="card">
                <div class="card-body">
                    <div id="serviceName">
                        <h4 style="font-family: 'Asap'; color: #5f27cd; margin: 0 auto;">Edycja</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="allProject">
            <div class="card">
                <div class="card-body">
                    <h5 style="font-family: 'Comfortaa';">
                        Edycja projektu
                        <hr>
                        @using (Html.BeginForm("EditProject", "Teacher",FormMethod.Post))
                        {
                            @Html.HiddenFor(x => x.Project.id_proj)
                            <div class="form-group">
                                <label class="card-subtitle mb-2 text-muted" for="DStart">Termin wykonania</label>
                                @Html.TextBoxFor(x => x.Project.termin_wyk, new { @class = "form-control form-control-sm", @id = "DStart" })
                                @Html.ValidationMessageFor(x => x.Project.nazwa_proj)
                            </div>
                            <div class="form-group">
                                <label class="card-subtitle mb-2 text-muted" for="DStart">Nazwa projektu</label>
                                @Html.TextBoxFor(x => x.Project.nazwa_proj, new { @class = "form-control form-control-sm", @id = "DStart" })
                                @Html.ValidationMessageFor(x => x.Project.nazwa_proj)
                            </div>


                            <button type="submit" formmethod="post" class="btn btn-primary" style="background-color: #686de0; color: white;">Edytuj etap</button>

                        }
                    </h5>

                    <hr>

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Nazwa etapu</th>
                                <th scope="col">Termin wykonania</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model.Stages)
                            {
                                
                                <tr id="@item.IDStudent">
                                    <a href="@Url.Action("Index","Supervisor",new { id=item.IDStudent})">
                                        <td>@item.Stage.nazwa_etapu</td>
                                        <td>@item.Stage.termin_etapu</td>
                                        <td>
                                            @Html.ActionLink("Usuń etap", "DeleteStage", new {idProj = Model.Project.id_proj }, new { @class = "btn btn-secondary" })
                                        </td>
                                    </a>
                                </tr>
                            }
                        </tbody>
                    </table>





                    <hr />
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" style="background-color: #686de0; color: white;">Nowy etap</button>

                    <div class="modal fade bg-dark" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle" style="color: #5f27cd;">Dodaj etap</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    @using (Html.BeginForm("CreateStage", "Teacher", FormMethod.Post))
                    {
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="card-subtitle mb-2 text-muted" for="PName">Nazwa etapu</label>
                                @Html.TextBoxFor(x => x.Stage.nazwa_etapu, new { @class = "form-control form-control-sm", @id = "PName" })
                                @Html.ValidationMessageFor(x => x.Project.termin_wyk)
                            </div>
                            <div class="form-group">
                                <label class="card-subtitle mb-2 text-muted" for="DStart">Termin etapu</label>
                                @Html.TextBoxFor(x => x.Stage.termin_etapu, new { @class = "form-control form-control-sm", @id = "DStart" })
                                @Html.ValidationMessageFor(x => x.Project.nazwa_proj)
                            </div>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                            <button type="submit" formmethod="post" class="btn btn-primary" style="background-color: #686de0; color: white;">Dodaj etap</button>


                        </div>
                    }
                </div>
            </div>
        </div>

                </div>

        </div>
    </div>
    </div>
    </div>



</body>


